#mainDiv {
  border: 1px solid black;
  width: 602px;
  height: 602px;
  margin-left: 350px;
  margin-top: 8px;
}

#score {
  position: absolute;
  top: 10px;
  left: 1000px;
}

#gameOver {
  position: absolute;
  color: darkred;
  font-size: 64px;
  top: 180px;
  left: 470px;
  opacity: 0;
}

.button {
  display: inline-block;
  position: absolute;
  top: 330px;
  left: 580px;
  border-radius: 4px;
  background-color: #007700;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}